body {
    background-color: rgb(207, 208, 208);
}

footer {
    height: 10%;
    width: 100%;
    background-color: white;
    position: absolute;
    bottom: 0%;
}

.heading {
    font-size: xx-large;
}