<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
    <b class="heading">{% block heading %}{% endblock %}</b>
    <nav>
      <a href="about">About</a>
      <br>
      <a href="contact">Contact</a>
      <br>
      <a href="news">News</a>
      <br>
      <a href="/">Home</a>
    </nav>

    {% block content %}
    {% endblock %}

    <footer>Här finns enkel information</footer>
</body>
</html>

{% block scripts %}
{% endblock %}