<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Teacher List</title>
</head>
<body>
    <h1>Teacher List</h1>
    <ul>
    <!-- Check if the sneakers list is not empty. If so then display the available sneakers. -->
    {% if teachers %}
        <p>List of teachers:</p>
    {% else %}
        <p>No teachers available.</p>
    {% endif %}
    <!-- Loop through the sneakers list and display each sneaker's brand, model, and price -->
    {% for teacher in teachers %}
        <li>
            <strong>{{ teacher.name }}</strong> - {{ teacher.subject }} - {{ teacher.students }} Elever
        </li>
    {% endfor %}
    </ul>
    <a href="/">Back to Home</a>
</body>
</html>
